@import 'oz_variables';

:host {
  position: absolute;
  z-index: $oz-control-popup-z-index;
  display: flex;
  flex-direction: column;
}

.container {
  z-index: $oz-control-popup-z-index+1;
  background-color: $white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: $oz-control-border-radius;
  border: 1px solid $oz-control-border-color;
  display: flex;
  flex-direction: inherit;
  height: 100%;
}

.background {
  content: '';
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: $component-popup-background;
  left: 0;
  top: 0;
}
