<div [ozTooltip]="label"
  [tooltipDisabled]="displayTooltip"
  [tooltipWidth]="tooltipWidth"
  [tooltipDirection]="tooltipDirection"
  [textAlign]="textAlign">
  <div class="label" #wrapper>{{label}}</div>
</div>
