// Put this file to /styles for override
$black: #272727 !default;
$white: #fdfdfd !default;
$always_white: $white !default;
$always_black: $black !default;

$gray-lightest: mix($white, $black, 97) !default;
$gray-lighter: mix($white, $black, 92) !default;
$gray-light: mix($white, $black, 80) !default;
$gray-normal: mix($white, $black, 70) !default;
$gray-dark: mix($white, $black, 50) !default;
$gray-darker: mix($white, $black, 30) !default;

$global-weight-light: 300 !default;
$global-weight-normal: 400 !default;
$global-weight-bold: 500 !default;
$global-weight-bolder: 600 !default;

$global-lineheight: 1.3;
$global-fontsize: 15px;
$global-textheight: floor($global-lineheight*$global-fontsize);

/////////////////////////////////////
//// Colors
/////////////////////////////////////

$accent-blue-color: #0F79B7;
$accent-primary-color: #1997c9;
$accent-secondary-color: #53b1d7;
$accent-darker-color: mix($black, $accent-blue-color, 20);
$accent-lighter-color: mix($white, $accent-blue-color, 80);
$info-color: #45baec;
$success-color: #31e64f;
$warn-color: #fdcf37;
$error-color: #ef4957;

/////////////////////////////////////
//// Toasts
/////////////////////////////////////
$toast-info-background-color: lighten($info-color, 30);
$toast-info-color: darken($info-color, 20);
$toast-success-background-color: lighten($success-color, 40);
$toast-success-color: darken($success-color, 20);
$toast-warn-background-color: lighten($warn-color, 30);
$toast-warn-color: darken($warn-color, 20);
$toast-error-background-color: lighten($error-color, 30);
$toast-error-color: darken($error-color, 20);


/////////////////////////////////////
//// Switch
/////////////////////////////////////
$switch-color: darken($accent-primary-color, 20);
$switch-transition: ease-in-out;

/////////////////////////////////////
//// Common
/////////////////////////////////////
$oz-control-focus: $accent-secondary-color;
$oz-control-hover-color: $accent-lighter-color;
$oz-control-border-radius: 2px;
$oz-control-border-color: $gray-light;
$oz-control-border-hover-color: $gray-lightest;
$oz-control-border-color-invalid: #a00;
$oz-control-border-hover-color-invalid: #f00;
$oz-control-default-padding: 4px 0;
$oz-control-textinput-padding: 4px 4px;
$oz-control-default-border: 2px;
$oz-control-prompt-color: $gray-darker;
$oz-control-prompt-font-weight: $global-weight-normal;
$oz-control-prompt-font-style: italic;
$oz-control-text-color: $black;
$oz-control-text-interactive-color: $accent-darker-color;

/////////////////////////////////////
//// Buttons
/////////////////////////////////////

// Primary
$oz-button-primary-radius: 5px;

$oz-button-primary-color: $always-white;
$oz-button-primary-background: $accent-primary-color;

$oz-button-primary-hover-color: $always-white;
$oz-button-primary-hover-background: $accent-secondary-color;

$oz-button-primary-active-color: $always-white;
$oz-button-primary-active-background: $accent-darker-color;

// Secondary
$oz-button-secondary-radius: 5px;

$oz-button-secondary-color: $accent-secondary-color;
$oz-button-secondary-background: $white;
$oz-button-secondary-border: 2px solid $accent-secondary-color;

$oz-button-secondary-hover-color: $accent-darker-color;
$oz-button-secondary-hover-background: $white;
$oz-button-secondary-hover-border: 2px solid $accent-darker-color;

$oz-button-secondary-active-color: $accent-secondary-color;
$oz-button-secondary-active-background: $white;

// Tab
$oz-button-tab-color: $accent-darker-color;
$oz-button-tab-background-color: $white;
$oz-button-tab-border: 2px solid transparent;

$oz-button-tab-hover-background-color: #f9fdff;
$oz-button-tab-hover-border: 2px solid $accent-secondary-color;

$oz-button-tab-selected-background-color: $accent-lighter-color;
$oz-button-tab-selected-border: 2px solid $accent-blue-color;

$oz-button-disabled: #777;
$oz-button-disabled-hover: #999;

/////////////////////////////////////
//// Calendar
/////////////////////////////////////

$font-size-calendar: 9pt;
$oz-calendar-width: $font-size-calendar*16;
$oz-calendar-koef: 7.4;

/////////////////////////////////////
//// Z Index
/////////////////////////////////////

$outlets-z-index: 100;
$sidebar-z-index: 200;
$overlays-z-index: 300;
$oz-control-popup-z-index: 400;
$alert-z-index: 500;
$toasts-z-index: 600;
$tooltip-z-index: 700;

$component-popup-background: rgba(0, 0, 0, 0.05);
$component-focus-padding-bottom: 2px;
$modal-wrapper-box-shadow: 0 0 30px rgba(0,0,0,0.2);

/////////////////////////////////////
//// Icon
/////////////////////////////////////

$icons-fontsize-small: 12px;
$icons-fontsize-normal: 15px;
$icons-fontsize-large: 19px;
$icons-fontsize-x-large: 22px;
$icons-fontsize-xx-large: 30px;

/////////////////////////////////////
//// Component mixin
/////////////////////////////////////
@mixin component() {
  font-size: 100%;
  display: flex;
  flex: 0 0 auto;
  outline: none;
}
@mixin component-focus() {
  border-bottom: $component-focus-padding-bottom solid transparent;
  $current: &;
  @at-root {
    html[data-focus-source='key'] #{$current}:focus {
      border-bottom: $oz-control-default-border solid $oz-control-focus;
    }
    html[data-focus-source='key'] #{$current}.focus {
      border-bottom: $oz-control-default-border solid $oz-control-focus;
    }
  }
}
@mixin component-invalid() {
  border-bottom: $component-focus-padding-bottom solid transparent;
  &.ng-invalid.ng-dirty {
    border-bottom: $oz-control-default-border solid $error-color;
  }
}

/////////////////////////////////////
//// Modal
/////////////////////////////////////
$oz-modal-header-font-size: 200%;
$oz-modal-sub-header-font-size: 150%;
$oz-modal-padding-v: 15px;
$oz-modal-padding-h: 20px;
$oz-modal-overlay-background: rgba(47, 69, 82, 0.8);
$oz-modal-background: $white;

@mixin modal (){
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

@mixin component-popup-background () {
  content: '';
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: $component-popup-background;
  left: 0;
  top: 0;
  z-index: $oz-control-popup-z-index;
  display: none;
}

/////////////////////////////////////
//// Responsive
/////////////////////////////////////

@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

/////////////////////////////////////
//// Placeholders
/////////////////////////////////////
@mixin placeholder ($width) {
  width: $width;
  max-width: 100%;
  background-color: rgba($black, 0.05);
  height: $global-lineheight * 1em;
  border-radius: 1em;
  transition: all 0.5s linear;
}


@mixin FF-only {
  @-moz-document url-prefix() { @content; }
}

@mixin toast-list-style {
  width: 80%;
  position: fixed;
  bottom: 0;
  left: 10%;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}
