<div class="checkbox" (click)="onClickCheckbox($event)" [class.disabled]="disabled">
  <i *ngIf="value" class="icon-check-bold"></i>
</div>
<div *ngIf="label" class="checkbox-label" [class.disabled]="disabled" (click)="onClickCheckbox($event)">{{label}}</div>
