<div class="modal-background {{state}}" [@backgroundState]="state" (click)="close()"></div>
<div class="modal-wrapper {{state}}" [@state]="state" [hidden]="state !== 'show'">
  <div class="title-bar">
    <div class="title">
      <ng-content select="[ozModalHeader]"></ng-content>
    </div>
    <div class="sub-title">
      <ng-content select="[ozModalSubHeader]"></ng-content>
    </div>

    <div class="spacer"></div>
    <div class="title-buttons">
      <ng-content select="[ozModalHeaderButtons]"></ng-content>
    </div>
    <oz-button class="close-button" typeButton="icon" iconClass="close" iconSize="x-large" (clicked)="close()">
    </oz-button>

  </div>
  <ng-content select="[ozModalBody]"></ng-content>
  <ng-content select="[ozModalFooter]"></ng-content>
</div>
