@import 'oz_variables';
:host {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.modal-background {
  content: '';
  position: absolute;
  background-color: $oz-modal-overlay-background;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.modal-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid $gray-lightest;
  border-radius: 5px;
  box-shadow: $modal-wrapper-box-shadow;
  max-width: 90%;
  max-height: 90%;
  width: auto;
  height: auto;
  background-color: $oz-modal-background;
}

.title {
  font-size: $oz-modal-header-font-size;
  font-weight: $global-weight-light;
}

.title-bar {
  display: flex;
  flex: 0 0 auto;
  max-width: 100%;
  flex-direction: row;
  align-items: center;
  padding: $oz-modal-padding-v $oz-modal-padding-h 0;
  background-color: $white;
}

.title {
  display: flex;
  flex: 0 0 auto;
  margin: 0;
}

.title-buttons {
  display: flex;
  flex: 0 0 auto;
  margin: 0 1em 0 0;
}

.sub-title {
  display: flex;
  flex: 0 0 auto;
  margin: 0 0 0 0.5em;
  font-size: $oz-modal-header-font-size;
  font-weight: $global-weight-light;
}

.spacer {
  flex: 1 1 100%;
}

::ng-deep div[ozmodalclose]  {
  display: flex;
  flex: 0 0 auto;
}

::ng-deep div[ozmodalfooter]  {
  flex: 0 0 auto;
  padding: 0.5em;
  border-top: 1px solid $gray-light;
  background-color: $gray-lightest;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

::ng-deep div[ozmodalsubheader]  {
  flex: 0 0 auto;
  display: flex;
}

::ng-deep div[ozmodalfooter]>* {
  margin-left: 0.5em;
}

::ng-deep div[ozmodalfooter].hidden {
  display: none;
}

::ng-deep div[ozmodalbody]  {
  padding: 0;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 0px 0px $oz-control-border-radius $oz-control-border-radius;
  background-color: $white;
}
