<div class="component-container"
  [class.component-container-active]="editOpened"
  #valueElement>
  <div class="value" *ngIf="!editOpened"
    (click)="openEdit(true)"
    [style.opacity]="opacity"
    [class.value-empty]="getLabel() == emptyLabel"
    [class.value-disabled]="disabled">
    {{getLabel()}}
  </div>
  <oz-icon
    tabindex="-1"
    *ngIf="!disabled && !editOpened"
    class="popup-icon button"
    icon="{{icon}}"
    size="normal"
    (mousedown)="enableSelectMode($event)">
  </oz-icon>
  <div class="input-container"
    [class.container-active]="editOpened"
    *ngIf="editOpened">
    <oz-textinput
      #input
      [borderless]="true"
      [prompt]="'ex. 1h 20m'"
      [(ngModel)]="valueInputFormat"
      (keydown)="onKeyDown($event)"
      (ngModelChange)="parseTextinput($event)">
    </oz-textinput>
  </div>
  <oz-icon
    *ngIf="showClear && (valueMoment.asSeconds() > 0)"
    tabindex="-1"
    class="icon-close clear"
    icon="clear"
    size="normal"
    (mousedown)="onClear($event)">
  </oz-icon>
</div>
<oz-dropdown #dropdown
  class="oz-select-dropdown dropdown"
  [bindElement]="valueElement"
  [displayBackground]="true"
  positionHorizontal="right-inside"
  positionVertical="down"
  [useBindWidth]="false"
  [bindInside]="false">
  <ng-template #dropdownContent>
    <div class="popup-helpers">
      <div class="popup-helpers-item"
        *ngFor="let helper of helpers"
        (click)="setFromHelper(helper)">{{helper.value}}{{helper.unit}}</div>
    </div>
  </ng-template>
</oz-dropdown>
