<ng-container *ngIf="!hideMonthYearSelection">
  <div class="oz-datepicker-month-year" *ngIf="currentState == 'month'">
    <div class="oz-datepicker-month-year-prev" (click)="prevMonth()">&lt;</div>
    <div class="oz-datepicker-month-year-current" (click)="setState('months')">{{getCurrentMonthName()}} {{currentYear}}</div>
    <div class="oz-datepicker-month-year-next" (click)="nextMonth()">&gt;</div>
  </div>
  <div class="oz-datepicker-month-year" *ngIf="currentState == 'months'">
    <div class="oz-datepicker-month-year-current" (click)="setState('years')">{{currentYear}}</div>
  </div>
  <div class="oz-datepicker-month-year" *ngIf="currentState == 'years'">
    <div class="oz-datepicker-month-year-current">{{currentEra}}</div>
  </div>
  <div class="oz-datepicker-months" *ngIf="currentState == 'months'">
    <div class="oz-datepicker-month oz-datepicker-month-{{i}}"
      [class.oz-datepicker-month-selected]="currentMonth == i"
      (click)="setMonth(i)"
      *ngFor="let month of getMonths(); let i = index">
      <div class="oz-datepicker-month-number">{{i+1}}</div>
      <div class="oz-datepicker-month-name">{{month}}</div>
    </div>
  </div>
  <div class="oz-datepicker-years" *ngIf="currentState == 'years'">
    <div class="oz-datepicker-year oz-datepicker-year-{{i}}"
      [class.oz-datepicker-year-selected]="currentYear == year"
      (click)="setYear(year)"
      *ngFor="let year of getYears();let i=index">
      <div class="oz-datepicker-year-name">{{year}}</div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="currentState == 'month'">
  <div class="oz-calendar-days">
    <div class="oz-calendar-day oz-calendar-day-{{i}}" *ngFor="let weekday of weekdays;let i=index" >{{weekday}}</div>
  </div>
  <div class="oz-calendar-weeks">
    <ng-container *ngFor="let week of weekCells">
      <div class="oz-calendar-week"
        *ngIf="week && week.length > 0">
        <div class="oz-calendar-date oz-calendar-date-{{date.isoweekday}}"
          *ngFor="let date of week"
          [class.oz-calendar-date-selected]="date.selected"
          [class.oz-calendar-date-hide-overflow]="date.overflow && hideOverflow"
          [class.oz-calendar-date-overflow]="date.overflow"
          [class.oz-calendar-date-today]="date.today"
          [class.oz-calendar-date-holiday]="date.holiday"
          [class.oz-calendar-date-period]="date.period"
          [class.oz-calendar-date-selected-start]="date.selectedEnd"
          [class.oz-calendar-date-selected-end]="date.selectedStart"
          [class.disabled]="isDateDisabled(date)"
          (click)="onClick($event, date)">
          <div class="oz-calendar-date-label">{{date.label}}</div>
        </div>
      </div>
    </ng-container>
  </div>
</ng-container>
